* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, ul, h6, p {
    margin: 0px;
    font-size: 11px;
}

h2 {
    font-size: 15px;
}

h6 {
    font-weight: normal;
}

article {
    background-color: rgb(231, 231, 231);
    margin-bottom: 15px;
    padding: 15px;
    transition: all 0.3s;
}

article:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.contenedor{
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0 auto;
}

    header {
        /* background-color: rgb(49, 49, 49);
        color: white; */
        margin-bottom: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-right: 15px;
        border-right: 2px solid rgb(49, 49, 49);
    }

    .img-avatar {
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 100%;
    }

        header div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

    .contenido{
        width: 70%;
    }



